.enrolment__card{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    margin-bottom: 20px !important;
    background-color: rgba(102, 167, 228, 0.4);
    border-radius: 10px !important;
}


.enrolment__card__item span, .enrolment__card__item a{
    color: rgb(89, 133, 255);
    font-weight: bold;
}


.enrolmentDetails__buttons{
    display: flex;
    align-self: flex-end;
    justify-content:flex-end;
    margin-top: 10px;
}

.enrolmentDetails__status_acceptBtn{
    background-color: rgb(224, 235, 255)!important;
    border-color: rgb(255, 252, 252)!important;
    margin-right: 10px;
}

.enrolmentDetails__status_acceptBtn:hover{
    color: rgb(0, 172, 172)!important;
    background-color: rgb(185, 255, 232)!important;
}

.enrolmentDetails__status_rejectBtn{
    background-color: rgb(224, 235, 255)!important;
    border-color: rgb(255, 252, 252)!important;
}

.enrolmentDetails__status_rejectBtn:hover{
    color: rgb(172, 0, 0)!important;
    background-color: rgb(255, 185, 185)!important;
}