.enrolment__card{
    background-color: rgb(180, 180, 180) !important;
    margin-bottom: 20px !important;
    color: white !important;
    border-radius: 20px !important;
}

.enrolment__card__item{
    background-color: rgb(46, 46, 46)!important;
    border-radius: 20px !important;
    color: white !important;
}

.enrolment__card__item span, .enrolment__card__item a{
    color: rgb(89, 133, 255);
    font-weight: bold;
}

.enrolment__buttonGroup{
    display: flex !important;
    flex: 1 !important;
}

.enrolmentDetails__status_acceptBtn{
    color: rgb(48, 48, 48)!important;
    background-color: rgb(255, 255, 255)!important;
    border-color: rgb(255, 255, 255)!important;
    margin: 10px;
}

.enrolmentDetails__status_acceptBtn:hover{
    color: rgb(0, 172, 172)!important;
    background-color: rgb(185, 255, 232)!important;
    border-color: rgb(0, 172, 172)!important;
}

.enrolmentDetails__status_rejectBtn{
    color: rgb(0, 0, 0)portant;
    background-color: rgb(89, 133, 255)!important;
    border-color: rgb(255, 252, 252)!important;
    margin: 10px;
}

.enrolmentDetails__status_rejectBtn:hover{
    color: rgb(172, 0, 0)!important;
    background-color: rgb(255, 185, 185)!important;
    border-color: rgb(172, 0, 0)!important;
}

.enrolment .accepted{
    color: rgb(12, 184, 12)
}

.enrolment .rejected{
    color: rgb(184, 12, 12)
}

.unchecked_enrolment .accepted{
    color: rgb(126, 248, 126)
}

.unchecked_enrolment .rejected{
    color: rgb(255, 94, 94)
}