.lecturerDashboard__card{
    width: 100%;
    min-height: 100vh; 
    margin-top: 16px;
}

.lecturerDashboard__space{
    width: 100%;
    margin-top: 20px;
}

.lecturerDashboard__loading__container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;

}
.lecturerDashboard__loading{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
}

.lecturerDashboard__allLoadedCard{
    background: rgb(230, 230, 230) !important;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(180, 180, 255, 0.8);
}

.lecturerDashboard__deleteLoading{
}