@media only screen and (max-width: 800px) {
    .greeting__title>span{
        display: none;
    }
}

.greeting__header{
    background: #fff !important;
}

.greeting__title{
    padding-top: 15px;
}
.greeting__notification{
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    display: flex;
}
.greeting__notificationIcon{
    color: red !important;
}
.greeting__notificationCount{
    line-height: 0px;
    background-color: red;
    color: white;
    min-width: 15px;
    padding: 10px;
    height: 15px;
    text-align: center;
    border-radius: 100%;
    font-size: 10px;
    left: 10px;
}

.greeting__profileNavbar{
    float: right;
}