.course{
    background: #eef !important;
    box-shadow: 10px 10px 10px rgba(200,200,255,125) !important;
    margin-bottom: 50px !important;
}
.course:hover{
    background-color: white !important;
    box-shadow: 10px 10px 10px lightgrey !important;

}
.course__deleteBtn{
    color: red !important;
}