@media only screen and (min-width: 0px) {
    .selectCourse__select{
        min-width: 5px !important;
    }
}


@media only screen and (min-width: 200px) {
    .selectCourse__select{
        min-width: 200px !important;
    }
}

@media only screen and (min-width: 400px) {
    .selectCourse__select{
        min-width: 400px !important;
    }
}
@media only screen and (min-width: 800px) {
    .selectCourse__select{
        min-width: 500px!important;
    }
}

@media only screen and (min-width: 1280px) {
    .selectCourse__select{
        min-width: 900px!important;
    }
}


@media only screen and (min-width: 1600px) {
    .selectCourse__select{
        width: 1000px!important;
    }
}
