.drawBox__detection-box{
    position: absolute;
    border: solid;
    border-color: rgba(53, 172, 232, 0.8);
}

.drawBox__detection-label{
    background-color: rgba(53, 172, 232, 0.8);
    border: solid;
    margin-top: 0;
    text-align: center;
    color: #fff;
    font-weight: 900;
}

.drawBox__recognition-knownBox{
    position: absolute;
    border: solid;
    border-color: rgba(0, 255, 0, 0.8);
}

.drawBox__recognition-unknownBox{
    position: absolute;
    border: solid;
    border-color: rgba(125, 125, 125, 0.4);
}

.drawBox__recognition-knownLabel{
    background-color: rgba(0, 255, 0, 0.8);
    border: solid;
    margin-top: 0;
    color: #fff;
    font-weight: 900;
}

.drawBox__recognition-unknownLabel{
    background-color: rgba(125, 125, 125, 0.4);
    border: solid;
    margin-top: 0;
    color: #fff;
    font-weight: 900;
}
